<a href="https://colab.research.google.com/github/samapatil1729/Machine-Learning-Practice/blob/main/MLP_WEEK_5_to_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import os
import io
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from sklearn.datasets import fetch_openml
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.dummy import DummyClassifier
from sklearn.linear_model import Perceptron
from sklearn.metrics import hinge_loss
from sklearn.metrics import ConfusionMatrixDisplay, confusion_matrix, precision_recall_curve
from sklearn.metrics import precision_score, recall_score, classification_report
from sklearn.metrics import make_scorer
from sklearn.model_selection import cross_validate, cross_val_predict, GridSearchCV
from pprint import pprint
np.random.seed(42)

#Practice_Assignment 5

## Question 1
Load the MNIST dataset (mnist_784, version=1) from openml. How many number of samples are there in the dataset?

In [ ]:
df = fetch_openml('mnist_784', version=1)

In [ ]:
df.data.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df.data.shape

(70000, 784)

##Question 2
Access the sample at the index 2022.
( * What is the label of the sample?  * What is the mean value of the sample?   * How many zeros are there in the sample? )

ANS:(2, 27.76, 643)

In [ ]:
X, y = fetch_openml('mnist_784', version = 1, as_frame = True, return_X_y = True)

In [ ]:
X.shape, y.shape

((70000, 784), (70000,))

In [ ]:
df.data.dtypes

pixel1      float64
pixel2      float64
pixel3      float64
pixel4      float64
pixel5      float64
             ...
pixel780    float64
pixel781    float64
pixel782    float64
pixel783    float64
pixel784    float64
Length: 784, dtype: object

In [ ]:
row_2022 = X.iloc[[2022]]
row_2022

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
row_2022_label = y.iloc[[2022]]
row_2022_label

2022    2
Name: class, dtype: category
Categories (10, object): ['0', '1', '2', '3', ..., '6', '7', '8', '9']

In [ ]:
r = row_2022.T
r.value_counts()

2022
0.0      643
254.0     32
6.0        5
227.0      4
99.0       4
        ...
3.0        1
138.0      1
141.0      1
149.0      1
133.0      1
Length: 74, dtype: int64

In [ ]:
r.mean()

2022    27.76148
dtype: float64

In [ ]:
print((2, 27.76,643))

(2, 27.76, 643)

##Question 3
create a dataset by taking first 10000 images for training and next 2000 images for testing from the original dataset. Answer the following questions.

How many unique classes are there in the training set?

**ANS: 10**

The number of training samples for the digit-6 are?

**ANS:1014**

The number of training samples for the digit-9 are?

**ANS:978**

How many unique classes are there in the test set?

**ANS:10** 

Which class has more number of test samples?

**ANS:1** 

Pack the answers in a tuple like (2,1000,800,5,7).

In [ ]:
X_tr, X_te, y_tr, y_te = X.iloc[:10000], X.iloc[10000:12000], y.iloc[:10000], y.iloc[10000:12000]
train_uniique = np.

In [ ]:
y_tr.value_counts()

1    1127
7    1070
3    1032
6    1014
0    1001
2     991
4     980
9     978
8     944
5     863
Name: class, dtype: int64

In [ ]:
len(y_tr.unique())

10

In [ ]:
y_tr.shape

(10000,)

In [ ]:
y_te.shape

(2000,)

In [ ]:
y_te.value_counts()

1    224
9    215
7    209
0    205
4    204
3    196
6    194
2    185
5    185
8    183
Name: class, dtype: int64

In [ ]:
len(y_te.unique())

10

##Question 4

Consider the above modified training and testing sets with first 10000 images for training and next 2000 images for testing.

Steps to be followed

Collect all digit-6 (Positive class) and digit-9 (Negative class) images and stack them properly as a single datamatrix.

By convention, keep all digit-6 images from index 0 to i followed by digit-9 images from index i+1 to n (i denotes the end index of digit-6 images)

Similarly, collect the respective labels and store it in a variable (Do sanity check).

Set the label values to 1 for positive classes and -1 for negative classes.

Load 

from sklearn.utils import shuffle
Shuffle the datamatrix and labels. (Setrandom_state
 value to 1729).
 
what are the first three labels starting from the index 0?. Select from the following options,

In [ ]:
y_new=[]
for i in range (10000):
  if y_tr[i] == '6' or y_tr[i] == '9':
    y_new.append(y_tr[i])
#y_new

In [ ]:
index = []
for i in range (1992):
  index.append(i)

In [ ]:
y_new.sort()

In [ ]:
import pandas as pd

In [ ]:
new_data = pd.DataFrame()
new_data

Empty DataFrame
Columns: []
Index: []

In [ ]:
new_data['index'] = index
new_data['images'] = y_new
new_data

      index images
0         0      6
1         1      6
2         2      6
3         3      6
4         4      6
...     ...    ...
1987   1987      9
1988   1988      9
1989   1989      9
1990   1990      9
1991   1991      9

[1992 rows x 2 columns]

In [ ]:
label = []
for i in range(len(y_new)):
  if y_new[i] == '6':
    label.append(1)
  else:
    label.append(-1)

In [ ]:
len(label)

1992

In [ ]:
new_data['label'] = label
new_data

      index images  label
0         0      6      1
1         1      6      1
2         2      6      1
3         3      6      1
4         4      6      1
...     ...    ...    ...
1987   1987      9     -1
1988   1988      9     -1
1989   1989      9     -1
1990   1990      9     -1
1991   1991      9     -1

[1992 rows x 3 columns]

In [ ]:
from sklearn.utils import shuffle

In [ ]:
shuffle(new_data, random_state = 1729)

      index images  label
293     293      6      1
1128   1128      9     -1
1974   1974      9     -1
1442   1442      9     -1
558     558      6      1
...     ...    ...    ...
1557   1557      9     -1
1573   1573      9     -1
1267   1267      9     -1
1126   1126      9     -1
1677   1677      9     -1

[1992 rows x 3 columns]

#Question 5

Instantiate a perceptron classifier that meets the following requirements

random_state = 1729

learning rate = 1

Train for 10 iterations (epoch)

Set shuffle the dataset for each epoch (iteration) as False.

Include the intercept (bias) term.

No regularization

Fit the perceptron classifier on the training dataset. What is the value of w for the 69th feature after 10 iterations?

     (Note: Don't worry if it raises a convergence warning)

1) 605.0

2) 608.0

3) 60.50

4) 6.08

In [ ]:
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier

In [ ]:
#clf = Perceptron(max_iter = 10, shuffle = False, tol=1e-3,  random_state=1729)
clf = SGDClassifier(loss="perceptron",  max_iter = 10, shuffle = False, tol=1e-3, random_state=1729)

In [ ]:
X_tr = X.iloc[:10000]
y_tr = y.iloc[:10000]

In [ ]:
X_tr.shape, y_tr.shape

((10000, 784), (10000,))

In [ ]:
clf.fit(X_tr, y_tr)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_stochastic_gradient.py:700: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning,

SGDClassifier(loss='perceptron', max_iter=10, random_state=1729, shuffle=False)

In [ ]:
w = clf.intercept_

In [ ]:
w

array([-151.55323065,  -43.97754249, -133.38555788, -239.74216632,
        -73.21509234,   58.96973259, -121.13359834,  -10.99591846,
       -571.03906713, -315.30622452])

#Graded Assignment 5

(Common data for all the graded questions)
From the MNIST dataset, create a new dataset by taking first 10000 images for training and next 2000 images for testing.

Collect all digit-5 (Positive class) and digit-3 (Negative class) images and stack them properly as a single datamatrix.
By convention, keep all digit-5 images from index 0 to i followed by digit-3 images from index i+1 to n (i denotes the end index of digit-5 images)
Similarly, collect the respective labels and store it in a variable (Do sanity check).
Set the label values to 1 for positive class and -1 for negative class.
Instantiate a perceptron classifier with the below parameters
random_state = 42
learning rate = 1
Train for 100 iterations (epoch)
Should shuffle the dataset for each epoch (iteration)
Include the intercept (bias) term.
No regularization
Use the training set for fitting the perceptron model and use the test data to make the predictions. Answer the below questions.

In [ ]:
data = fetch_openml('mnist_784', version=1, as_frame=True)

In [ ]:
X, y = fetch_openml('mnist_784', version = 1, as_frame = True, return_X_y = True)

In [ ]:
y_tr = y.iloc[:10000]
y_te = y.iloc[10000:12000]

In [ ]:
y_new=[]
for i in range (10000):
  if y_tr[i] == '5' or y_tr[i] == '3':
    y_new.append(y_tr[i])
#y_new