<a href="https://colab.research.google.com/github/samapatil1729/Machine-Learning-Practice/blob/main/MLP_WEEK_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Graded Assignment 10

Load Used Cars Price Prediction dataset available at following

https://drive.google.com/uc?export=download&id=1tKqddJuIiRqrm7ml2qyVGJlAW3JQjaZX

(Consider the statement for Q1,Q2,Q3 and Q4)

Load the used cars' dataset.

The target variable is 'MSRP'.

Remove the rows that contain NULL values.

Drop 'Invoice' feature.

Preprocess to remove comma and dollar sign from MSRP (and cast its type as integer).

Use Pandas.get_dummies() on the categorical features : 'Make','Model','Type','Origin', 'DriveTrain'

Split the data into X and y and then train and test subsets using 70:30 ratio with 

random_state = 1

Train the model using the following (All with default values and random_state = 1):

BaggingRegressor

RandomForestRegressor

GradientBoostingRegressor

AdaBoostRegressor

In [ ]:
import pandas as pd
import numpy as np
import re
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('https://drive.google.com/uc?export=download&id=1tKqddJuIiRqrm7ml2qyVGJlAW3JQjaZX')

In [ ]:
df.shape

(428, 15)

In [ ]:
df.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18,24,3880,115,197

In [ ]:
df.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      2
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [ ]:
df1 = df.dropna() # droping rows which contain null values

In [ ]:
df1.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [ ]:
df1.shape

(426, 15)

In [ ]:
df1['MSRP'] = df1['MSRP'].replace({'\$': '', ',': ''}, regex=True) # preprocessing, removing '$' and ','

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df1['MSRP']

0      36945
1      23820
2      26990
3      33195
4      43755
       ...
423    40565
424    42565
425    45210
426    26135
427    35145
Name: MSRP, Length: 426, dtype: object

In [ ]:
df1.dtypes

Make            object
Model           object
Type            object
Origin          object
DriveTrain      object
MSRP            object
Invoice         object
EngineSize     float64
Cylinders      float64
Horsepower       int64
MPG_City         int64
MPG_Highway      int64
Weight           int64
Wheelbase        int64
Length           int64
dtype: object

In [ ]:
df1['MSRP'] = pd.to_numeric(df1['MSRP']) # chaniging 'MSRP' type to Numeric

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df1.dtypes

Make            object
Model           object
Type            object
Origin          object
DriveTrain      object
MSRP             int64
Invoice         object
EngineSize     float64
Cylinders      float64
Horsepower       int64
MPG_City         int64
MPG_Highway      int64
Weight           int64
Wheelbase        int64
Length           int64
dtype: object

In [ ]:
df2 = df1.drop(['Invoice'], axis=1) # droping 'Invoice' column

In [ ]:
df2.shape

(426, 14)

In [ ]:
df3 = pd.get_dummies(df2)

In [ ]:
df3.shape

(426, 482)

In [ ]:
df3.head()

,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Make_Acura,...,Type_Sedan,Type_Sports,Type_Truck,Type_Wagon,Origin_Asia,Origin_Europe,Origin_USA,DriveTrain_All,DriveTrain_Front,DriveTrain_Rear
0,36945,3.5,6.0,265,17,23,4451,106,189,1,...,0,0,0,0,1,0,0,1,0,0
1,23820,2.0,4.0,200,24,31,2778,101,172,1,...,1,0,0,0,1,0,0,0,1,0
2,26990,2.4,4.0,200,22,29,3230,105,183,1,...,1,0,0,0,1,0,0,0,1,0
3,33195,3.2,6.0,270,20,28,3575,108,186,1,...,1,0,0,0,1,0,0,0,1,0
4,43755,3.5,6.0,225,18,24,3880,115,197,1,...,1,0,0,0,1,0,0,0,1,0

In [ ]:
X = df3.iloc[:,1:]

In [ ]:
X.shape

(426, 481)

In [ ]:
X.head()

,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Make_Acura,Make_Audi,...,Type_Sedan,Type_Sports,Type_Truck,Type_Wagon,Origin_Asia,Origin_Europe,Origin_USA,DriveTrain_All,DriveTrain_Front,DriveTrain_Rear
0,3.5,6.0,265,17,23,4451,106,189,1,0,...,0,0,0,0,1,0,0,1,0,0
1,2.0,4.0,200,24,31,2778,101,172,1,0,...,1,0,0,0,1,0,0,0,1,0
2,2.4,4.0,200,22,29,3230,105,183,1,0,...,1,0,0,0,1,0,0,0,1,0
3,3.2,6.0,270,20,28,3575,108,186,1,0,...,1,0,0,0,1,0,0,0,1,0
4,3.5,6.0,225,18,24,3880,115,197,1,0,...,1,0,0,0,1,0,0,0,1,0

In [ ]:
y = df3['MSRP']
y.shape

(426,)

In [ ]:
y.head()

0    36945
1    23820
2    26990
3    33195
4    43755
Name: MSRP, dtype: int64

In [ ]:
X_tr, X_te, y_tr, y_te = train_test_split(X,y, test_size = 0.3, random_state = 1)
X_tr.shape, y_tr.shape

((298, 481), (298,))

In [ ]:
X_te.shape, y_te.shape

((128, 481), (128,))

In [ ]:
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import accuracy_score

##Question 1

In [ ]:
bgc = BaggingRegressor(random_state = 1)
bgc.fit(X_tr, y_tr)
y_pred = bgc.predict(X_te)
score = bgc.score(X_te, y_te)
score

0.7949163237522345

##Question 2

In [ ]:
rf = RandomForestRegressor(random_state = 1)
rf.fit(X_tr, y_tr)
rf_score = rf.score(X_te, y_te)
rf_score

0.8369440882741959

##Question 3

In [ ]:
gbr = GradientBoostingRegressor(random_state = 1)
gbr.fit(X_tr, y_tr)
gbr_score = gbr.score(X_te, y_te)
gbr_score

0.8270485242007507

##Question 4

In [ ]:
adbr = AdaBoostRegressor(random_state = 1)
adbr.fit(X_tr, y_tr)
adbr_score = adbr.score(X_te, y_te)
adbr_score

0.711903287964231

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
param_grid = {'n_estimators':[100,500,1000], 'learning_rate':[0.5,1,2]}

In [ ]:
clf = GridSearchCV(estimator = AdaBoostRegressor(random_state = 1),param_grid = param_grid, cv = 4)

##Question 5

In [ ]:
clf.fit(X_tr, y_tr)
clf_score = clf.score(X_te, y_te)
clf_score

0.7130800769863186

##Question 6 & 7

In [ ]:
clf.best_estimator_

AdaBoostRegressor(learning_rate=1, n_estimators=1000, random_state=1)

#**Practice Assignment 10**

(Consider the statement for Q1 and Q2)

 Load the wine dataset from sklearn.

Split the dataset into train and test set with 70:30 ratio with 

random_state = 1

Use AdaBoostClassifier with random_state = 1 (other values being default).

Train the 'model' and compute the 'score' on training data and test data.

In [ ]:
from sklearn.datasets import load_wine
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
X, y = load_wine(as_frame = True, return_X_y = True)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)
ad = AdaBoostClassifier(random_state = 1)
ad.fit(x_train, y_train)

AdaBoostClassifier(random_state=1)

In [ ]:
print('Training score: ', ad.score(x_train, y_train))
print('Testing score: ', ad.score(x_test, y_test))

Training score:  0.6774193548387096
Testing score:  0.5370370370370371

##(Consider the statement for Q3,Q4 and Q5)

 Load the wine dataset from sklearn.

Split the dataset into train and test set with 70:30 ratio with 

random_state = 1

Use AdaBoostClassifier with random_state = 1 (other values being default).

Perform Hyperparameter tuning using GridSearchCV over the following:

Use n_estimators as [100,500,1000]

Use learning_rate as [0.5,1,2]

Train the 'model' and compute the 'score' on training data and test data.

##Question 3: Enter the value of the 'score' on testing set.
**Ans: 0.96**

##Question 4: Enter the value of best n_estimators of the model after training with GridSearchCV
 **Ans: 100**

 ##Question 5: Enter the value of best learning_rate of the model after training with GridSearchCV

 **Ans: 0.5**

In [ ]:
param = {'n_estimators': [100,500,1000], 'learning_rate': [0.5,1,2]}
grid1 = GridSearchCV(AdaBoostClassifier(random_state = 1), param_grid = param, cv = 4)
grid1.fit(x_train, y_train)

GridSearchCV(cv=4, estimator=AdaBoostClassifier(random_state=1),
             param_grid={'learning_rate': [0.5, 1, 2],
                         'n_estimators': [100, 500, 1000]})

In [ ]:
print('Testing Score: ', grid1.score(x_test, y_test))
grid1.best_params_

Testing Score:  0.9629629629629629

{'learning_rate': 0.5, 'n_estimators': 100}

##(Consider the statement for Q6 and Q7)

Write a code to predict the score on the training set and the testing set using Voting Classifier on wine dataset Write your code based on the following keypoints:

Split the dataset into train and test set with 70:30 ratio with 

random_state = 1

Import model.
Keep estimators as BaggingClassifier, Random Forest, GradientBoosting Classifier with random_state = 1

Train the 'model' and compute the 'score' on training data and test data.

##Question 6: Enter the value of the 'score' on training set. (Enter your answer in four decimal places)

**Ans: 1.0**

##Question 7: Enter the value of the 'score' on testing set. (Enter your answer in four decimal places)

**Ans: 0.981**

In [ ]:
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, GradientBoostingClassifier

In [ ]:
e1 = BaggingClassifier(random_state = 1)
e2 = RandomForestClassifier(random_state = 1)
e3 = GradientBoostingClassifier(random_state = 1)

In [ ]:
model = VotingClassifier(estimators = [('bc',e1),('rf',e2),('gb',e3)])

In [ ]:
model.fit(x_train, y_train)

VotingClassifier(estimators=[('bc', BaggingClassifier(random_state=1)),
                             ('rf', RandomForestClassifier(random_state=1)),
                             ('gb',
                              GradientBoostingClassifier(random_state=1))])

In [ ]:
print('Training Score: ', model.score(x_train, y_train))
print('Testing score: ', model.score(x_test, y_test))

Training Score:  1.0
Testing score:  0.9814814814814815